* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 70px;
    background: #010B2E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: 20px;
    background: url("../../assets/images/Kinopoisk_logo_orange.png") no-repeat;
    background-size: contain;
}
